######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
*.swp

######################
# Gradle
######################
.gradle/**

######################
# Mac OSX
######################
.DS_Store

######################
# Directories
######################
/build/**
/deploy/**
/app/release/**
.generated
app/src/dev/java/org/asl19/paskoocheh/Constants.java
app/src/staging/java/org/asl19/paskoocheh/Constants.java
app/src/release/java/org/asl19/paskoocheh/Constants.java
app/src/debug/java/org/asl19/paskoocheh/Constants.java
app/src/dev/google-services.json
app/src/debug/google-services.json
app/src/staging/google-services.json
app/src/release/google-services.json
######################
# Others
######################
*.class
*.*~
*~
*.hprof
*.apk
.merge_file*
/local.properties
/captures

app/src/main/assets/config.properties
.externalNativeBuild≈
app/release

.project
.classpath
.settings/
.vscode/

ouinet-arm*/build/

# Uncomment if public
#app/google-services.json
#app/src/dev/google-services.json
#app/src/debug/google-services.json
#app/src/staging/google-services.json
#app/src/release/google-services.json
#app/src/dev/java/org/asl19/paskoocheh/Constants.java
#app/src/staging/java/org/asl19/paskoocheh/Constants.java
#app/src/release/java/org/asl19/paskoocheh/Constants.java
#app/src/debug/java/org/asl19/paskoocheh/Constants.java
#app/src/main/assets/fonts/**
#app/src/dev/assets/fonts/**
#app/src/staging/assets/fonts/**
#app/fabric.properties
#*.pub
